* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    background-color: #0D182B;
    font-family: 'Roboto Condensed','Montserrat';
}

nav.navbar{
    background-color: #0D182B;
}

#logo{
    width: 150px;
}

.after-nav{
    padding-top: 150px;
}

.card-body{
    font-family: 'Montserrat';
}

.card-img-top{
    width: auto!important;
    height: 215px!important;
    object-fit: cover!important;
}

div.carousel-item img{
    filter: brightness(70%)
}


.text-ellipse{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card{
    height: 500px;
}